<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Processing App</title>
    <style>
        #preview {
            max-width: 1700px;
            max-height: 800px;
            width: auto;
        }

        #thumbnail-container {
            display: flex;
            flex-direction: row;
            overflow-x: scroll;
            overflow-y: hidden;
            max-width: 90%;
            margin-bottom: 10px;
            margin-right: 17px;
            height: 110px;
            align-items: center;
            white-space: nowrap;

            /* Custom scrollbar styles */
            scrollbar-width: thin;
            scrollbar-color: #777 #333;
        }
        .thumbnail {
            display: inline-block;
            margin: 5px;
            cursor: pointer;
        }
        .thumbnail-selected {
            border: 3px solid #f1c40f;
            box-sizing: border-box;
        }

        #thumbnail-container::-webkit-scrollbar {
            width: 8px;
            height: 8px;
            background-color: #333;
        }

        #thumbnail-container::-webkit-scrollbar-thumb {
            background-color: #777;
            border-radius: 4px;
        }

        body {
            background-color: #333;
            color: #fff;
            display: flex;
            justify-content: left;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        .buttons {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-right: 20px;
        }
        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 150px);
            grid-gap: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
            margin-right: 20px;
            align-items: center;
            justify-content: center;
        }

        button {
            background-color: #555;
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            width: 150px;
            padding: 12px 24px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
            transition-duration: 0.4s;
        }

        button:hover {
            background-color: #777;
            color: white;
        }

    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="grid-container" id="folder-selection">
        <button id="prev-image">Previous</button>
        <button id="select-folder">Select Folder</button>
        <button id="next-image">Next</button>
        <input type="file" id="input-folder" webkitdirectory="" directory="" multiple="" style="display:none">
    </div>
    <div id="thumbnail-container"></div>

    <div class="container">
        <div class="buttons">
            <button id="load-image">Load Image</button>
            <button id="button1">Image view</button>
            <button id="button2">Masks view</button>
            <button id="button3">Clear</button>
            <button id="button4">P Point mode</button>
            <button id="button5">N Point mode</button>
            <button id="button6">Box mode</button>
            <button id="button7">Inference</button>
            <button id="button8">Undo</button>
            <!-- Add more buttons as needed -->
        </div>
        <input type="file" id="input-image" accept="image/*" style="display:none">
        <div id="image-container" style="position: relative;">
            <img id="preview" src="#" alt="your image" style="cursor: pointer;">
        </div>
    </div>
    <canvas id="default-preview-canvas" width="1" height="1" style="display: none;"></canvas>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        
        let selectedImage = null;

        // Select folder click event
        $("#select-folder").click(function() {
            $("#input-folder").trigger("click");
        });
        $("#input-folder").change(function(e) {
            const files = e.target.files;
            $("#thumbnail-container").empty(); // Clear the previous thumbnails
            imageFiles = []; // Clear the previous image files
            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                if (file.type.startsWith("image/")) { // Only process image files
                    imageFiles.push(file);
                    const reader = new FileReader();
                    reader.onload = function(e) {
                        const img = document.createElement("img");
                        img.src = e.target.result;
                        img.height = 100;
                        img.style.width = 'auto';
                        img.classList.add("thumbnail");
                        img.addEventListener("click", function() {
                            selectThumbnail(img);
                            var newEvent = new CustomEvent("thumbnailClick", { detail: { file: file } });
                            document.getElementById("input-image").dispatchEvent(newEvent);
                        });
                        $("#thumbnail-container").append(img);
                    };
                    reader.readAsDataURL(file);
                }
            }
        });

        // Scroll to selected thumbnail
        function scrollToSelectedThumbnail() {
            const thumbnailContainer = document.getElementById("thumbnail-container");
            const selectedThumbnail = document.querySelector(".thumbnail-selected");
            if (!selectedThumbnail) {
                return;
            }
            const containerRect = thumbnailContainer.getBoundingClientRect();
            const thumbnailRect = selectedThumbnail.getBoundingClientRect();

            // Calculate the difference between the center of the container and the center of the selected thumbnail
            const offsetDiff = (thumbnailRect.left + (thumbnailRect.width / 2)) - (containerRect.left + (containerRect.width / 2));

            // Scroll by the difference to center the selected thumbnail
            thumbnailContainer.scrollLeft += offsetDiff;
        }

        function selectThumbnail(thumbnail) {
            const previousSelected = document.querySelector(".thumbnail-selected");
            if (previousSelected) {
                previousSelected.classList.remove("thumbnail-selected");
            }
            thumbnail.classList.add("thumbnail-selected");
            scrollToSelectedThumbnail();

            // Update imageIndex based on the selected thumbnail
            const thumbnails = document.querySelectorAll(".thumbnail");
            for (let i = 0; i < thumbnails.length; i++) {
                if (thumbnails[i] === thumbnail) {
                    imageIndex = i;
                    break;
                }
            }
        }

        let imageIndex = 0;
        let imageFiles = [];

        function changeImage(delta) {
            if (imageFiles.length === 0) {
                alert("Please select an image folder first.");
                return;
            }

            imageIndex += delta;
            if (imageIndex < 0) {
                imageIndex = imageFiles.length - 1;
            } else if (imageIndex >= imageFiles.length) {
                imageIndex = 0;
            }

            const thumbnails = document.querySelectorAll(".thumbnail");
            thumbnails[imageIndex].click(); // Trigger click event on the desired thumbnail
        }

        // Disable default browser usage
        document.getElementById('preview').ondragstart = function() { return false; };
        window.addEventListener("keydown", function(e) {
            if(["ArrowUp","ArrowDown","ArrowLeft","ArrowRight"].indexOf(e.code) > -1) {
                e.preventDefault();
            }
        }, false);
        
        function getDefaultDarkImageBase64() {
            var canvas = document.getElementById('default-preview-canvas');
            var ctx = canvas.getContext('2d');
            ctx.fillStyle = 'rgba(0, 0, 0, 0.5)';
            ctx.fillRect(0, 0, canvas.width, canvas.height);
            return canvas.toDataURL('image/png');
        }
        function readURL(input) {
            // Clear all markers when loading new image
            clearAllBoxes();
            clearAllPoints();
            if (input.files && input.files[0]) {
                selectedImage = input.files[0]; // Store the selected file
                var reader = new FileReader();
                reader.onload = function (e) {
                    const preview = document.getElementById("preview");
                    preview.style.width = 'auto';
                    preview.style.height = 'auto';
                    $('#preview').attr('src', e.target.result);

                    var img = new Image();
                    img.src = e.target.result;
                    img.onload = function() {
                        // Store the original width and height
                        $('#preview').data('originalWidth', this.width);
                        $('#preview').data('originalHeight', this.height);
                    }
                };
                reader.readAsDataURL(input.files[0]);

                // Init server after upload image
                var form_data = new FormData();
                form_data.append("image", input.files[0]);

                $.ajax({
                    url: "/upload_image",
                    type: "POST",
                    data: form_data,
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (response) {
                        console.log(response);
                    },
                });
            }
        }
        $("#preview").attr("src", getDefaultDarkImageBase64());

        let mode = "p_point"; // Default mode is 'point', 'point'/'box'

        $("#load-image").click(function() {
            $("#input-image").trigger("click");
        });

        // Buttons
        $("#button1").click(function() {
            togglePointsAndBoxesVisibility(1);
            processButtonClick(1);
        });
        $("#button2").click(function() {
            togglePointsAndBoxesVisibility(2);
            processButtonClick(2);
        });
        $("#button3").click(function() {
            processButtonClick(3);
            clearAllBoxes();
            clearAllPoints();
        });
        $("#button4").click(function() {
            processButtonClick(4);
            mode = "p_point";
        });
        $("#button5").click(function() {
            processButtonClick(5);
            mode = "n_point";
        });
        $("#button6").click(function() {
            processButtonClick(6);
            mode = "box";
        });
        $("#button7").click(function() {
            processButtonClick(7);
        });
        $("#button8").click(function() {
            processButtonClick(8);
        });

        $("#prev-image").click(function() {
            changeImage(-1);
        });

        $("#next-image").click(function() {
            changeImage(1);
        });

        $("#input-image").change(function() {
            readURL(this);
        });
        document.getElementById("input-image").addEventListener("thumbnailClick", function(e) {
            selectedImage = e.detail.file; // Store the selected file
            readURL({ files: [e.detail.file] });
        });

        // Add click event listeners for other buttons
        function processButtonClick(button_id) {
            if (selectedImage === null) {
                alert("Please select an image first.");
                return;
            }

            if (button_id !== null) {
                $.ajax({
                    url: "/button_click",
                    type: "POST",
                    data: JSON.stringify({ button_id: button_id }),
                    contentType: "application/json",
                    success: function (response) {
                        console.log(response);
                        $("#preview").attr("src", "data:image/jpeg;base64," + response.image);
                    },
                });
            }
        }

        // Capture mouse click position on the image
        const points = [];

        function drawPoint(x, y, color) {
            var img = $("#preview")[0];
            var scaleX = img.naturalWidth / img.clientWidth;
            var scaleY = img.naturalHeight / img.clientHeight;
            var originalX = x * scaleX;
            var originalY = y * scaleY;
            const point = document.createElement("div");
            point.classList.add("point");
            point.style.position = "absolute";
            point.style.width = "8px";
            point.style.height = "8px";
            point.style.backgroundColor = color;
            point.style.borderRadius = "50%";
            point.style.left = x - 4 + "px"; // Offset by half the point size for centering
            point.style.top = y - 4 + "px";
            document.getElementById("image-container").appendChild(point);
            // Store the original position
            point.dataset.originalX = originalX;
            point.dataset.originalY = originalY;
            points.push(point);
        }

        function clearAllPoints() {
            points.forEach(point => {
                point.remove();
            });
            points.length = 0;
        }

        // Point click
        $("#preview").click(function(e) {
            if (selectedImage === null) {
                alert("Please select an image first.");
                return;
            }
            if (mode === "p_point" || mode === "n_point") {
                var imageOffset = $(this).offset();
                var mouseX = e.pageX - imageOffset.left;
                var mouseY = e.pageY - imageOffset.top;
                if (mode === "p_point") {var color = "red";}
                else if (mode === "n_point") {var color = "blue";}
                drawPoint(mouseX, mouseY, color);
                console.log("Mouse clicked at: ", mouseX, mouseY);
                sendMouseClickPosition(mouseX, mouseY);
            }
        });
        
        $("#preview").click(function() {
            if ($('#input-image')[0].files.length === 0 && $("#preview").attr("src") == "#") {
                $("#input-image").trigger("click");
            }
        });

        function sendMouseClickPosition(x, y) {
            var img = $("#preview")[0];
            var scaleX = img.naturalWidth / img.clientWidth;
            var scaleY = img.naturalHeight / img.clientHeight;
            var originalX = x * scaleX;
            var originalY = y * scaleY;

            $.ajax({
                url: '/point_click',
                type: 'POST',
                data: JSON.stringify({ x: originalX, y: originalY }),
                contentType: 'application/json',
                success: function(response) {
                    console.log(response);
                }
            });
        }

        // For drawing bounding boxes
        function clearAllBoxes() {
            boxes.forEach(box => {
                box.remove();
            });
            boxes.length = 0;
            box.style.width = "0px";
            box.style.height = "0px";
            box.style.left = "0px";
            box.style.top = "0px";
            box.style.border = "none";
        }
        let drawing = false;
        let startPoint = { x: 0, y: 0 };
        const boxes = [];
        const box = document.createElement("div");

        box.style.position = "absolute";
        box.style.pointerEvents = "none";
        document.getElementById("image-container").appendChild(box);

        function rgbToCSS(r, g, b) {
            return `rgb(${r}, ${g}, ${b})`;
        }

        $("#preview").mousedown(function (e) {
            if (selectedImage === null) {
                alert("Please select an image first.");
                return;
            }
            if (e.which === 1 && mode === "box") { // Left mouse button
                drawing = true;
                startPoint.x = e.pageX - $(this).offset().left;
                startPoint.y = e.pageY - $(this).offset().top;
                box.style.border = "3px solid red";
                box.style.width = "0px";
                box.style.height = "0px";
                box.style.left = startPoint.x + "px";
                box.style.top = startPoint.y + "px";
            }
        });

        $("#preview").mousemove(function (e) {
            if (drawing && mode === "box") {
                const currentX = e.pageX - $(this).offset().left;
                const currentY = e.pageY - $(this).offset().top;
                const width = currentX - startPoint.x;
                const height = currentY - startPoint.y;
                box.style.width = Math.abs(width) + "px";
                box.style.height = Math.abs(height) + "px";
                box.style.left = (width < 0 ? currentX : startPoint.x) + "px";
                box.style.top = (height < 0 ? currentY : startPoint.y) + "px";
            }
        });

        $("#preview").mouseup(function (e) {
            var coor_temp;
            if (drawing && mode === "box") {
                drawing = false;
                const endX = e.pageX - $(this).offset().left;
                const endY = e.pageY - $(this).offset().top;
                const coordinates = {
                    x1: Math.min(startPoint.x, endX),
                    y1: Math.min(startPoint.y, endY),
                    x2: Math.max(startPoint.x, endX),
                    y2: Math.max(startPoint.y, endY)
                };
                var img = $("#preview")[0];
                var scaleX = img.naturalWidth / img.clientWidth;
                var scaleY = img.naturalHeight / img.clientHeight;
                coor_temp = coordinates;
                sendBoundingBoxCoordinates(coordinates);
            }
            if (mode === "box") {
                // Create a new box
                const newBox = document.createElement("div");
                newBox.classList.add("box");
                newBox.style.position = "absolute";
                newBox.style.border = `3px solid ${rgbToCSS(22, 154, 224)}`;
                newBox.style.pointerEvents = "none";
                newBox.style.width = box.style.width;
                newBox.style.height = box.style.height;
                newBox.style.left = box.style.left;
                newBox.style.top = box.style.top;
                document.getElementById("image-container").appendChild(newBox);
                // Store the original positions and sizes
                newBox.dataset.originalX1 = parseFloat(coor_temp.x1 * scaleX);
                newBox.dataset.originalY1 = parseFloat(coor_temp.y1 * scaleY);
                newBox.dataset.originalX2 = parseFloat(coor_temp.x2 * scaleX);
                newBox.dataset.originalY2 = parseFloat(coor_temp.y2 * scaleY);
                // Set box to invisible
                box.style.border = "none";
                boxes.push(newBox);
            }
        });

        function sendBoundingBoxCoordinates(coordinates) {
            console.log(coordinates);
            // Send the coordinates to the server
            var img = $("#preview")[0];
            var scaleX = img.naturalWidth / img.clientWidth;
            var scaleY = img.naturalHeight / img.clientHeight;
            $.ajax({
                url: '/box_receive',
                type: 'POST',
                data: JSON.stringify({ 
                    x1: coordinates.x1 * scaleX, y1: coordinates.y1 * scaleY, 
                    x2: coordinates.x2 * scaleX, y2: coordinates.y2 * scaleY, 
                }),
                contentType: 'application/json',
                success: function(response) {
                    console.log(response);
                }
            });
        }

    </script>
</body>
</html>